:root {
  --bs-body-bg: #ffffff;
  --bs-body-color: #363636;
  --bs-gray-800: #ffffff;
  --bs-gray: #6c757d;
  --bs-black: #000;
  --bs-gray-700: #e6e6e6;
  --bs-gray-500: #383838;
}


.main {
    background-color: var(--bs-body-bg);
    padding: 1em;
    padding-bottom: 1em;
    border-radius: 15px;
    margin: 1em;
  }
  
  .cabine {
    display: flex;
    flex-direction: row;
    height: 4em;
    padding-left: 1em;
    padding-right: 1em;
    transform: rotate(180deg);
    justify-content: right;
    border-radius: 10px;
    transition: .4s ease-in-out;
  }
  
  .cabine:hover {
    cursor: pointer;
    background-color: var(--bs-gray-700);
  }
  
  .titulo {
    display: flex;
    margin: 1em;
  }

  .heading {
    color: var(--bs-gray-500);
    font-size: 1.1em;
    font-weight: bold;
    align-self: center;
  }
  
  .opcao {
    position: relative;
    transform: rotate(180deg);
    margin-right: 1em;
    color: var(--bs-gray-700);
    align-self: center;
  }
  
  .name {
    align-items: center;
  }

  a {
    text-decoration: none;
    color: var(--bs-gray-500);
  }
   
  a:active {
    color: #53AFAF;
  }

  a:hover {
    color: #53AFAF;
  }

  .dark {
    --bs-body-bg: #363636;
    --bs-body-color: #949494;
    --bs-gray-800: #838383;
    --bs-gray: #6c757d;
    --bs-black: #000;
    --bs-gray-700: #495057;
    --bs-gray-500: #adb5bd;     
  }