body {
  background-color: #c2fcfc;
}

.titulo p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 28px;

}

.form {
  align-items: center;
  text-align: center;
  display: inline-grid;
  flex-direction: column;
  margin-top: 7vh;
  margin-bottom: 2vh;
  gap: 10px;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 0.4em;
  background-color: #53afaf;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
  box-shadow: 17px 12px 64px -24px rgba(97, 94, 97, 1);
}
.form:hover {
  transform: scale(1.02);
}


.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: white;
  width: 450px;
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: black;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.5em;
}

.btn button {
  margin: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 15px;
  margin-right: 0.5em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button1:hover {
  background-color: black;
  color: white;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 15px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 123px;
  margin: auto;
  font-size: 17px;
}

.button2:hover {
  background-color: black;
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 15px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button3:hover {
  background-color: #ff6961;
  color: white;
}


.botao-voltar {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  background: #54c7a6;
  color: white;
  border-radius: 4px;
 }
 
 .botao-voltar:hover {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(84, 199, 166, 1) 0%, rgba(0,212,255,1) 100%);
 }
 
 .botao-voltar:active {
  transform: translate(0em, 0.2em);
 }

 .group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
 } 
 
 .input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }
 
 .input::placeholder {
  color: #9e9ea7;
 }
 
 .input:focus, input:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }
 
 .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
 }
 